{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EcoDen E-waste management system- Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <style>
    button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #009282;
    width:100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor:pointer;
    }
  .dropbtn{
    background-color: rgb(8, 103, 86);
    color: black;
    padding: 8px;
    font-size: 12px;
}
.dropdown {
    display: inline-block;
    position: relative
}
.dropdown-content {
    position: absolute;
    background-color: lightgrey;
    min-width: 200px;
    display: none;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: orange;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: grey;
}

  </style>
  <script type="text/javasript">
    var user = '{{request.user}}'
  </script>
</head>

<body>
  <!-- <script type="text/javascript" src="{% static 'js/cart.js' %}"></script> -->
  <!-- {% csrf_token %} -->
  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">ecoden@gmail.co.in</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 9061621107</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>
  <!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        
        <h1>EcoDen</h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="http://127.0.0.1:8000/">Home</a></li>
          <li><a href="http://127.0.0.1:8000/">About</a></li>
          <li><a href="http://127.0.0.1:8000/">Products</a></li>
          <li><a href="#bottom">Contact</a></li>
          <li><a href="http://127.0.0.1:8000/show_cart"><img src="{% static 'img/cart.png' %}" width="30px" height="30px" /></a></li>

          <li><div class="dropdown">
            <button class="dropbtn"> {% if user.is_authenticated %} <a class="active" href="#" >{{user.name }}</a>{% else %}</button>{% endif %}
            <div class="dropdown-content">
              <a href="http://127.0.0.1:8000/changepassword">Reset Password</a>
              <a href="{% url 'updateProfile' %}">Update Profile</a>
            <a href="{% url 'logout' %}">Logout</a>
            
            
            </div>
            </div></li>
          <!-- <li>{% if user.is_authenticated %} <a class="active" href="#" >{{user.name }}</a>{% else %}</li> {% endif %} -->
          
          
        </ul>
      </nav><!-- .navbar -->

      

    </div>
  </header>
  <!-- End Header -->
<section class="w3l-hotair-form">
	<!-- <h1>Report Login Form</h1> -->
		<!-- /form -->
		<div class="container">
			<div class="single">  
			   <div class="form-container">
	
					<h2>Change Password</h2>
					<!-- <form onsubmit="return validatee()" action="{% url 'login' %}" method="post" id="logform" -->
					<form onsubmit="return resetValidate()" action="{% url 'changepassword' %}" method="post"
						id="logform" name="logform">
						<!-- {{error}} -->
						<!-- {% include 'Message.html' %} -->
						{% csrf_token %}
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-3 control-lable" for="Current Password">Current Password</label>
								<div class="col-md-9">
									<input type="password" class="password" id="current_password" name="current_password"
								placeholder="current Password" class="form-control input-sm"/>
									<span id="crnt-passwd" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
								</div>
							</div>
						 </div>
						 <div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-3 control-lable" for="New Password">New Password</label>
								<div class="col-md-9">
									<input type="password" class="password" id="password" name="new_password"
								placeholder="new Password" class="form-control input-sm"/>
									<span id="new-passwd" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
								</div>
							</div>
						 </div>
						 <div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-3 control-lable" for="cpassword">Confirm Password</label>
								<div class="col-md-9">
									<input type="password" class="password" id="confirm_password" name="confirm_password"
								placeholder="Confirm Password" class="form-control input-sm"/>
									<span id="confirm-passwd" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
								</div>
							</div>
						 </div>
			
			
						 <div class="row">
							<div class="form-actions floatRight">
								<input type="submit" value="Change Password" class="btn btn-primary btn-sm">
							</div>
						</div>
					
					</form>
					


				</div>
				<div class="w3l_form align-self">
					<div class="left_grid_info">
						<img src="{% static 'img/banner/5.png' %}" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	function resetValidate() {

		var val = document.getElementById('current_password').value;
		if(val=="")
		{
			document.getElementById('crnt-passwd').innerHTML="**Password can't be null!!";
			return false;
		}
		else{
			document.getElementById('crnt-passwd').value = "";
		}

		var val = document.getElementById('new_password').value;
		if(val=="")
		{
			document.getElementById('new-passwd').innerHTML="**Password can't be null!!";
			return false;
		}
		else{
			document.getElementById('new-passwd').value = "";
		}
		if (!val.match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/))
		{
			document.getElementById('new-passwd').innerHTML="**Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters'";
			return false;
		}
		else{
			document.getElementById('new-passwd').value = "";
		}

		var val = document.getElementById('confirm_passwords').value;
		if(val=="")
			{
				document.getElementById('confirm-passwd').innerHTML="**Password can't be null!!";
				return false;
			}
			else{
			document.getElementById('confirm-passwd').value = "";
		}

		if(val != document.getElementById('new_password').value){
		document.getElementById('confirm-passwd').innerHTML="**passwords should be matching";
		return false;
		}
		else{
		document.getElementById('confirm-passwd').innerHTML="";
		}
}


function npasswordValidation(inputTxt){

var textField = document.getElementById("crnt-passwd");

if(inputTxt.value != '' ){
	textField.textContent = '';
	textField.style.color = "green";
}else{
	textField.textContent = '**Password cannot be null!!';
	textField.style.color = "red";
}
}



	function passwordValidation(inputTxt){

	var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/;
	var textField = document.getElementById("new-passwd");

	if(inputTxt.value != '' ){
			if(inputTxt.value.match(regx)){
				textField.textContent = '';
				textField.style.color = "green";

			}else{
				textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
				textField.style.color = "red";
			}
	}else{
		textField.textContent = '**Password cannot be null!!';
		textField.style.color = "red";
	}
}

function cpasswordValidation(inputTxt){

var regx =  document.getElementById("confirm_password").value;
var regy =  document.getElementById("new_password").value;
var textField = document.getElementById("confirm_passwd");

if(inputTxt.value != '' ){
		if(regx == regy){
			textField.textContent = '';
			textField.style.color = "green";

		}else{
			textField.textContent = '**password should be matching';
			textField.style.color = "red";
		}
}else{
	textField.textContent = '**Password cannot be null!!';
	textField.style.color = "red";
}
}


</script>



{% endblock content %}