{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EcoDen E-waste management system- Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <style>
    input[type = submit] {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #009282;
    width:100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor:pointer;
    }
    button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #009282;
    width:100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor:pointer;
    }
    /* .li {display:inline} */

    </style>
</head>

<body>
  <!-- ======= Header ======= -->

  <!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EcoDen</h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="http://127.0.0.1:8000/customer">Home</a></li>
          <li><a href="http://127.0.0.1:8000/customer/#about">About</a></li>
          <li><a href="http://127.0.0.1:8000/customer/#portfolio">Products</a></li>
          <li><a href="#bottom">Contact</a></li>
          <li><a href="http://127.0.0.1:8000/logout">Logout</a></li>
        </ul>
      </nav><!-- .navbar -->
     </div>
  </header>
<style>

.ecimg{
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 44px;
  padding-bottom: 45px;
    }

</style>


<body>
    {% for cart in cart %}
    <div class="row">
        <div class="col-sm-3 text-center align-self-center"><img src = "{{cart.product.product_image.url}}" srcset="" class="img-fluid img-thumbnail shadow-sm" height="50" width="50"> </div>
        <div class="col-sm-9">
            <div>
             <h3>{{cart.productcustomer.product_name}}</h3>
             {% endfor %}
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>EcoDen</span>
          </a>
          <p>We do the best management of waste here. We forsee to collect 20 tonness of E-wates by 2025. The products that are made through E-wastes are of great quality.</p>
         
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Products</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Pickup waste</a></li>
            <li><a href="#">Recycled products</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
           M G Road, Thrissur<br>
           Kerala<br>
            India<br><br>
            <strong>Phone:</strong> +91 9061621107<br>
            <strong>Email:</strong> ecodenmanage@gmail.co.in<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4" id="bottom">
      <div class="copyright">
        &copy; Copyright <strong><span>EcoDen</span></strong>. All Rights Reserved
      </div>
    </div>

  </footer><!-- End Footer -->
  
</body>
</html>

{% endblock body %}
