
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EcoDen E-waste management system- Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <style>
    input[type = submit] {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #009282;
    width:100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor:pointer;
    }
    </style>
</head>
{% block content %}
<body>
<!-- ======= Header ======= -->
<section id="topbar" class="topbar d-flex align-items-center">
	<div class="container d-flex justify-content-center justify-content-md-between">
	  <div class="contact-info d-flex align-items-center">
		<i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">ecoden@gmail.co.in</a></i>
		<i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 9061621107</span></i>
	  </div>
	  <div class="social-links d-none d-md-flex align-items-center">
		<a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
		<a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
		<a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
		<a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
	  </div>
	</div>
  </section>
  <header id="header" class="header d-flex align-items-center">

	  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
		<a href="index.html" class="logo d-flex align-items-center">
		  <!-- Uncomment the line below if you also wish to use an image logo -->
		  <!-- <img src="assets/img/logo.png" alt=""> -->
		  <h1>EcoDen</h1>
		</a>
		<nav id="navbar" class="navbar">
		  <ul>
			<li><a href="http://127.0.0.1:8000/">Home</a></li>
			<li><a href="http://127.0.0.1:8000/">About</a></li>
			<li><a href="http://127.0.0.1:8000/">Products</a></li>
			<li><a href="#bottom">Contacts</a></li>
		  </ul>
		</nav><!-- .navbar -->
	   </div>
	</header>
	<link rel="stylesheet" href="main.css">
  </head>
<section class="w3l-hotair-form">
	<!-- <h1>Report Login Form</h1> -->
	<div class="container">
		<!-- /form -->
	
			<div class="single">  
				<div class="form-container">
					<h2>Reset Password</h2>
					<!-- <form onsubmit="return validatee()" action="{% url 'login' %}" method="post" id="logform" -->
					<form onsubmit="return resetValidate()" action="{% url 'resetPassword' %}" method="post"
						id="logform" name="logform">
						<!-- {{error}} -->
						{% include 'Message.html' %}
						{% csrf_token %}
						<div class="form-group">
							<!-- <label class="col-md-3 control-lable" for="New Password">New Password</label> -->
							<input type="password" class="password" id="password" name="password"
								placeholder="Password"><br><br>
							<span class="text-danger" id="log-passwd"> </span><br>
							<!-- <label class="col-md-3 control-lable" for="Confirm Password">Confirm Password</label> -->
							<input type="password" class="password" id="confirm_password" name="confirm_password"
								placeholder="Confirm Password"><br>
							<span class="text-danger" id="log-confirm"> </span><br>
						</div>
						<div class="row">
							<div class="form-actions floatRight">
								<input type="submit" value="Reset Password">
								 <!-- class="btn btn-primary btn-sm"> -->
							</div>
						</div>
		
					</form>

					<p class="account">Don't have an account? <a href="{% url 'reg' %}">Register</a></p>
				</div>
				<div class="w3l_form align-self">
					<div class="left_grid_info">
						<img src="{% static 'img/log2.jpg' %}" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	function resetValidate() {
		var password = document.getElementById('password').value;
		var c_password = document.getElementById('c-password').value;
		var form = document.getElementById('logform');

		const isPasswordSecure = (password) => {
			const re = new RegExp(
				"^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])(?=.{8,})"
			);
			return re.test(password);
		};

		if (password == "") {
			document.getElementById("log-passwd").textContent = "***Please provide password";
			document.getElementById("log-passwd").style.border = "1px solid red";
			document.getElementById("log-passwd").style.color = "red";


			return false;
		} else if (isPasswordSecure(password) == false) {
			document.getElementById("log-passwd").textContent = "***Please provide valid password";
			document.getElementById("log-passwd").style.border = "1px solid red";
			document.getElementById("log-passwd").style.color = "red";

			return false;
		} else if (confirm_password == "") {
			document.getElementById('log-confirm').textContent = "Please enter your confirm password";
			document.getElementById('log-confirm').style.border = "1px solid red";
			document.getElementById("log-confirm").style.color = "red";


			return false;
		} else if (password != confirm_password) {
			document.getElementById('log-confirm').textContent = "Password does not match";
			document.getElementById('log-confirm').style.border = "1px solid red";
			document.getElementById("log-confirm").style.color = "red";

			return false;
		} else {
			// submit forms
			form.submit();
		}
	}
</script>


<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
	<div class="container" data-aos="fade-up">

	  <div class="section-header">
		<h2>Contact Us</h2>
	  <p>Feel free to tell us anything.</p>
	  </div>

	  


		

	  </div>

	</div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="container">
	<div class="row gy-4">
	  <div class="col-lg-5 col-md-12 footer-info">
		<a href="index.html" class="logo d-flex align-items-center">
		  <span>EcoDen</span>
		</a>
		<p>We do the best management of waste here. We forsee to collect 20 tonness of E-wates by 2025. The products that are made through E-wastes are of great quality.</p>
		<div class="social-links d-flex mt-4">
		  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
		  <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
		  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
		  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
		</div>
	  </div>

	  <div class="col-lg-2 col-6 footer-links">
		<h4>Useful Links</h4>
		<ul>
		  <li><a href="#">Home</a></li>
		  <li><a href="#">About us</a></li>
		  <li><a href="#">Products</a></li>
		</ul>
	  </div>

	  <div class="col-lg-2 col-6 footer-links">
		<h4>Our Services</h4>
		<ul>
		  <li><a href="#">Pickup waste</a></li>
		  <li><a href="#">Recycled products</a></li>
		</ul>
	  </div>

	  <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
		<h4>Contact Us</h4>
		<p>
		 M G Road, Thrissur<br>
		 Kerala<br>
		  India<br><br>
		  <strong>Phone:</strong> +91 9061621107<br>
		  <strong>Email:</strong> ecoden@gmail.co.in<br>
		</p>

	  </div>

	</div>
  </div>

  <div class="container mt-4" id="bottom">
	<div class="copyright">
	  &copy; Copyright <strong><span>EcoDen</span></strong>. All Rights Reserved
	</div>
  </div>

</footer><!-- End Footer -->
<!-- End Footer -->

{% endblock  %}
